<div class="container p-5 bg-white">
  <h1>Create a new bookmark</h1>

  <%= simple_form_for [@list, @bookmark], data: { turbo: false } do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit "Add bookmark", class: "btn btn-primary"%>
  <% end %>

  <p><%= link_to "Back to menu", lists_path %></p>
</div>
